/**
 * Zdefiniowane style dla wyświetlania pojedynczego użytkownika
 */
.user-item {
    width:350px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}
