/**
 * Zdefiniowane style dla wyświetlania strony z użytkownikami biblioteki
 */
.main-container {
    text-align: center;
    position: relative;
}

.users-image {
    position: absolute;
    top: -30px;
    left: 400px;
    width: 200px;
    height: 200px;
}
.back-to-home-icon {
    position: fixed;
    bottom: 30px;
    right: 60px;
    color: #555;
    font-size: 36px;
    cursor: pointer;
}

