/**
 * Zdefiniowane style dla wyświetlania listy użytkowników
 */
.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.searchField {
    margin-bottom: 40px;
    width: 400px;
}


.formField {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.formContainer {
    justify-content: center;
    margin-top: 20px;
}

.iconStyle {
    font-size: 40px;
    margin-right: 10px;
}
.searchFieldContainer {
    margin-bottom: 60px;
}

.usersPerPageLabel {
    margin-right: 10px;
}

.usersPerPageSelect {
    width: 50px;
    height: 30px;
}

.usersPerPageContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.usersPerPageFrame {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
}

.usersPerPageLabel {
    margin-left: 10px;
}

.usersPerPageIcon {
    margin-right: 5px;
}
