/**
 * Zdefiniowane style dla formularza zmiany danych użytkownika
 */
.account-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    background-color: #f5f5f5;
    gap: 50px;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}


.account-settings-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.account-settings-input {
    width: 60%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
}

.account-settings-button {
    width: 60%;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

.account-settings-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.back-to-home-icon {
    position: fixed;
    bottom: 30px;
    right: 60px;
    color: #555;
    font-size: 36px;
    cursor: pointer;
}

.account-settings-image {
    position: absolute;
    top: 220px;
    left: 1400px;
    width: 400px;
    height: 400px;
}
.account-settings-title {
    font-weight: bold;
    font-size: 55px;
    color: dimgrey;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.account-settings-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

