/**
 * Zdefiniowane style dla wyświetlania menu app-bar
 */
.appbar {
    background-color: #f0f0f0;
}

.menu-button {
    margin-right: 2px;
    color: #000;
}

.title {
    flex-grow: 1;
    color: #000;
}

.logout-button {
    margin-right: 2px;
    color: #000;
}
