/**
 * Zdefiniowane style dla formularza informacji o koncie zalogowanego użytkownika
 */
.account-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    background-color: #f5f5f5;
    gap: 80px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.account-info-image {
    position: absolute;
    top: 140px;
    left: 1300px;
    width: 450px;
    height: 450px;
}

.account-info-title {
    font-weight: bold;
    font-size: 55px;
    color: dimgrey;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.account-info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-info-item {
    border: 6px solid dimgrey;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    margin-bottom: 10px;
}

.account-info-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.account-info-value {
    font-weight: bold;
    color: cornflowerblue;
}

.account-info-loading {
    margin-top: 20px;
    color: #666;
}
.back-to-home-icon {
    position: fixed;
    bottom: 30px;
    right: 60px;
    color: #555;
    font-size: 36px;
    cursor: pointer;
}

