/**
 * Zdefiniowane style dla wypożyczeń czytelnika
 */
.my-loans-container {
    text-align: center;
    position: relative;
}

.loan-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.loan-item > .MuiTypography-body1 {
    margin-bottom: 8px;
}

.loan-item.not-returned {
    border: 2px solid #ff6b6b; /* Red border for not returned loans */
}

.loan-item.returned {
    border: 2px solid #4caf50; /* Green border for returned loans */
}

.searchField {
    margin-bottom: 20px;
    width: 400px;
}

.searchButton {
    margin: 20px;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: black;
    color: greenyellow;
}
.searchField {
    margin-bottom: 20px;
    width: 400px;
}

.spacing-div {
    height: 50px;
}


.formField {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formContainer {
    justify-content: center;
    margin-top: 20px;
}

.iconStyle {
    font-size: 24px;
    margin-right: 10px;
}

.loansPerPageContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.loansPerPageFrame {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
}

.loansPerPageLabel {
    margin-right: 10px;
}

.loansPerPageSelect {
    width: 50px;
    height: 30px;
}

.loansPerPageIcon {
    margin-right: 5px;
}

.myloan-image {
    position: absolute;
    top: 20px;
    left: 100px;
    width: 260px;
    height: 250px;
}