/**
 * Zdefiniowane style dla formularza usuwania książki
 */
.delete-book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    background-color: #f5f5f5;
    gap: 20px;
    padding:200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.delete-book-input {
    margin-bottom: 10px;
    width: 300px;
}

.delete-book-button {
    margin-bottom: 70px;
}

.delete-book-image {
    position: absolute;
    top: 240px;
    left: 1400px;
    width: 290px;
    height: 290px;
}

.delete-book-title {
    font-weight: bold;
    font-size: 71px;
    color: dimgrey;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

