/**
 * Zdefiniowane style dla formularza dodawania nowego wypożyczenia
 */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-field {
    margin-bottom: 20px;
}

.focused-input .MuiOutlinedInput-notchedOutline {
    border-color: #555555 !important;
}

.focused-label {
    color: #555555 !important;
}

.submit-button {
    margin-top: 20px;
}
