/**
 * Zdefiniowane style dla wypożyczenia
 */
.loan-item {
    width: 290px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.bold {
    font-weight: bold;
}

.loan-item {
    transition: background-color 0.3s ease;
}

.loan-item.not-returned {
    background-color: indianred;
}
