/**
 * Zdefiniowane style dla listy wypożyczen
 */
.loan-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.searchField {
    margin-bottom: 40px;
    width: 400px;
}

.searchButton {
    margin: 20px;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: black;
    color: greenyellow;
}
.formField {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.formContainer {
    justify-content: center;
    margin-top: 20px;
}

.iconStyle {
    font-size: 40px;
    margin-right: 10px;
}
.searchFieldContainer {
    margin-bottom: 60px;
}

.loansPerPageLabel {
    margin-right: 10px;
}

.loansPerPageSelect {
    width: 50px;
    height: 30px;
}

.loansPerPageContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.loansPerPageFrame {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
}

.loansPerPageLabel {
    margin-left: 10px;
}

.loansPerPageIcon {
    margin-right: 5px;
}
