/**
 * Zdefiniowane style dla strony z listą wypożyczeń
 */
.main-container {
    text-align: center;
    position: relative;
}

.loan-image {
    position: absolute;
    top: -90px;
    left: 200px;
    width: 350px;
    height: 250px;
}
.back-to-home-icon {
    position: fixed;
    bottom: 30px;
    right: 60px;
    color: #555;
    font-size: 36px;
    cursor: pointer;
}
