/**
 * Zdefiniowane style dla strony głównej biblioteki
 */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.open-book-item {
    width: 100%;
    max-width: 610px;
    margin: 20px auto;
    display: block;
    border-radius: 10px;

}

.bold {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.italic {
    font-style: italic;
    margin: 20px 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.contact-bar-home {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-top: 100px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 0 15px;
    color: #555;
}

.contact-item svg {
    color: #555555;
}

.contact-item .MuiTypography-root {
    margin-left: 5px;
}