/**
 * Zdefiniowane style dla listy książek
 */
.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchField {
  margin-bottom: 20px;
  width: 400px;
}

.categorySelect {
  margin-bottom: 20px;
  width: 400px;
}

.formField {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.formContainer {
  justify-content: center;
  margin-top: 20px;
}

.iconStyle {
  font-size: 40px;
  margin-right: 10px;
}

.searchFieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.searchButtonBook {
  top: 20px;
  background-color: grey;
  color: white;
}

.booksPerPageLabel {
  margin-right: 10px;
}

.booksPerPageSelect {
  width: 50px;
  height: 30px;
}

.booksPerPageContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.booksPerPageFrame {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
}

.booksPerPageLabel {
  margin-left: 10px;
}

.booksPerPageIcon {
  margin-right: 5px;
}
