/**
 * Zdefiniowane style dla książki
 */
.book-item {
  width: 290px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}
.book-item {
  transition: background-color 0.3s ease;
}

.book-item.available {
  background-color: palegreen;
}

.book-item.not-available {
  background-color: indianred;
}
