/**
 * Zdefiniowane style dla strony z listą książek
 */
.main-container {
  text-align: center;
  position: relative;
}

.books-image {
  position: absolute;
  top: -60px;
  left: 270px;
  width: 320px;
  height: 310px;
}
.back-to-home-icon {
  position: fixed;
  bottom: 30px;
  right: 60px;
  color: #555;
  font-size: 36px;
  cursor: pointer;
}

