/**
 * Zdefiniowane style dla strony logowania do aplikacji
 */
.Login-form {
  padding: 5rem;
  margin-top:1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:3rem; /*odstęp między elementami*/
  align-items: center; /*tu są elementy ustawione do środka*/
}

.contact-bar-login {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #f0f0f0;
  margin-top: 200px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}


.contact-item {
  display: flex;
  align-items: center;
  margin: 0 15px;
  color: #555;
}


.contact-item svg {
  color: #555555;
}

.bold-login {
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}
