/**
 * Zdefiniowane style dla formularza zwracania wypożyczenia
 */
.return-loan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    background-color: #f5f5f5;
    gap: 40px;
    padding: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.return-loan-input {
    margin-bottom: 10px;
    width: 300px;
}

.return-loan-button {
    margin-bottom: 70px;
}

.return-loan-image {
    position: absolute;
    top: 260px;
    left: 1150px;
    width: 370px;
    height: 350px;
}

.return-loan-title {
    font-weight: bold;
    font-size: 71px;
    color: dimgrey;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}