/**
 * Zdefiniowane style dla formularza aktualizowania danych książki.
 */
.update-book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 550px;
    margin: 80px auto;

}

.update-book-image {
    position: absolute;
    top: 290px;
    left: 1300px;
    width: 350px;
    height: 340px;
}


.update-book-title {
    margin-bottom: 70px;
    font-weight: bold;
    font-size: 70px;
    color: midnightblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.update-book-input {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
}

.update-book-button {
    margin-top: 20px;
}

.back-to-home-icon {
    margin-top: 20px;
    cursor: pointer;
}
